.bg-image {
    background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/80391080_2568317306784546_6692279111320076288_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeE-1WqBZB_RHCag2BODqDwqy-5ddOuBDjTL7l1064EONE8xW2oZ5VMoMR8zurl4eWYZNxyeeKTjBkNYFeQc72Oc&_nc_ohc=RbHOeFlSlIQQ7kNvgHDmMBx&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&_nc_gid=ADozzWuEAolOLU_19wRunGG&oh=03_Q7cD1QG2NySOEPvKSkvLgPoN-WzBNW5gtNi29vItLBCvOfLXJQ&oe=673C8994');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    min-height: 500px; /* Minimum height for smaller screens */
}

#home {
    position: relative;
    display: flex;
    align-items: flex-end; /* Aligns content to the bottom */
    padding-bottom: 50px; /* Adds some space at the bottom */
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
    z-index: 1;
}

#home .container {
    position: relative;
    z-index: 2;
}

#home h1, #home p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Improves text readability */
}

.profile-image {
    object-position: center;
}
